{navigation}
<br>
<table class="nav_cont" Border="0" CellSpacing="0" CellPadding="0"
	align="center">
	<tr>
		<td>
		<table cellspacing="0" cellpadding="0" border="0" class="lnav">
			<tr>
				{back}{/back}
			</tr>
		</table>
		</td>
		<td align="center">
		<table class="nav_menu" Border="0" CellSpacing="0" CellPadding="0">
			<tr>
				{begin}{/begin} {left}{/left}
				<td class="nav_active"><b>{nav.active}</b></td>
				{right}{/right} {end}{/end}
			</tr>
		</table>
		</td>
		<td>
		<table cellspacing="0" cellpadding="0" border="0" class="rnav">
			<tr>
				{next}{/next}
			</tr>
		</table>
		</td>
	</tr>
</table>
<br>
{/navigation}